
<div class="about-body">
	<h1 class="weiter-theme">Weiter(ヴァイター)</h1>
	<div class="about-weiter">
		<div class="icon-introduction">
			<ul>
				<li><i class="fas fa-archway"></i>：すべての投稿一覧</li>
				<li><i class="fas fa-info-circle"></i>：Weiterの使い方</li>
				<li><i class="fas fa-user-plus"></i>：新規登録</li>
				<li><i class="glyphicon glyphicon-log-in sign_in"></i>：ログイン</li>
				<li><i class="fas fa-home"></i>：フォローしている人の投稿一覧</li>
				<li><i class="far fa-laugh-wink"></i></i>：マイページ</li>
				<li><i class="far fa-calendar-alt"></i>：カレンダー</li>
				<li><i class="far fa-plus-square"></i>：新規投稿</li>
			</ul>
		</div>
		<div class="weiter-main">
			<p class="about-weiiter-text"><strong>Weiter</strong>とは『世界中の人々がサッカーで繋がる』をテーマに、個人のサッカーの日常や挑戦してる事、サッカーに関連した知識や情報を投稿し、楽しむこと、学ぶことを目的にしたサイトです。このアプリを期に、サッカーを好きになる人、成長してくれる人、人気になる人が増えることを目指します。</p>
		</div>
		<div class="weiter-right">
			<h4>由来</h4>
			<p>Weiterはドイツ語で、「さらに先へ」「さらに続けて」「一歩進んで」などという意味があります。多くの人がこのサイトをきっかけにして自分の世界を広げることができたらと思い、この名前を付けました。</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="about-box1">
				<h2 class="about-text"><strong>Point1</strong>　いいね機能</h2>
				<img src="/assets/favorite_image.jpg" alt="" width="350px" height="250px"　class="about_image">
				<p class="about-introduction">いいねした投稿だけを見ることができる！</p>
			</div>
			<div class="about-box1">
				<h2 class="about-text"><strong>Point3</strong>　カレンダー機能</h2>
				<img src="/assets/calender_image.jpg" alt="" width="350px" height="300px" class="about_image">
				<p class="about-introduction">
				   ①お気に入りのチームの試合日程を記録しておける！<br>
			       ②自分の練習や試合の日程を記録しておける！<br>
			       ③友達のカレンダーも閲覧できる！
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="about-box2">
				<h2 class="about-text"><strong>Point2</strong>　ハッシュタグ機能</h2>
				<img src="/assets/hashtag_image.jpg" alt="" width="380px" height="270px" class="about_image">
				<p class="about-introduction">
					①気になるテーマの投稿だけが見られる！<br>
					②自分の投稿にハッシュタグをつけて拡散できる！<br>
				</p>
			</div>
			<div class="about-box2">
				<h2 class="about-text"><strong>Point4</strong>　チャット機能</h2>
				<img src="/assets/chat_image.jpg" alt="" width="300px" height="300px" class="about_image">
				<p class="about-introduction">気軽に誰とでも話すことができる！</p>
			</div>
		</div>
	</div>
</div>