/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.bar {
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
}
.header-border-bottom {
  border-bottom: 3px solid #DDDDDD;
  margin-bottom: 0;
}
body {
  font-family: inherit;
}
.weiter {
  margin: 0 0 50px 50px;
  font-family: ヒラギノ丸ゴ ProN;
  font-style: normal;
  font-weight: 900;
  font-feature-settings: "palt";
  font-size: 30px;
}
.nav {
	margin-top: 30px;
  margin-right: 10px;
  font-size: 30px;
  font-family: ヒラギノ丸ゴ ProN;
}
.log-in {
  font-size: 50px;
  margin: 40px auto 40px auto;
}
.article-sign-in {
  margin: 40px auto 30px auto;
  width: 400px;
  text-align: center;
  line-height: 2.0;
  border: 2px solid #DDDDDD;
  padding-bottom: 30px;
}
.sign-in {
  font-size: 25px;
}
.signin-mail {
  margin-bottom: 20px;
}
.sign-up-main {
  margin: 0 auto;
  width: 800px;
  height: 500px;
}
.sign-up-explanation {
  float: left;
  width: 300px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
}
.weitertoha {
  font-size: 35px;
  width: 220px;
  margin: 50px auto 20px auto;
  border-bottom: 4px solid #DCC2FF;
}
.weitertoha-explanation {
  line-height: 2.0;
  font-size: 20px;
}
.article-sign-up {
  float: left;
  margin: 10px 10px 10px 60px;
  text-align: center;
  width: 360px;
  height: 550px;
  border: 2px solid #DDDDDD;
}
.signup {
  font-size: 40px;
  margin: 40px auto 40px auto;
}
.sign-up-field {
  font-size: 23px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.sign-up-actions {
  line-height: 1.5;
  font-size: 20px;
  margin: 70px auto 20px auto;
}