// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@charset "UTF-8";
#abc nav {
    position: absolute;
    top: 180px;
    right: 0;
    right: -200px;
    width: 137px;
    height: 50px;
    padding-top: 20px;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 2;
}

#abc nav ul li {
    display: block;
    padding: 20px 28px;
}

#abc nav ul li a {
    text-decoration: none;
    color: #000;
}

#abc .btn-gnavi {
    position: absolute;
    top: 160px;
    right: 80px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
}

#abc .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
}

#abc .btn-gnavi span:nth-child(1) {
    top: 0;
}

#abc .btn-gnavi span:nth-child(2) {
    top: 10px;
}

#abc .btn-gnavi span:nth-child(3) {
    top: 20px;
}

#abc .btn-gnavi .open span {
    background: #fff;
}

#abc .btn-gnavi .open span {
    width: 24px;
}

#abc .contents section p {
    position: absolute;
    top: 100px;
    width: 30px;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
}

#abc .contents section:nth-child(odd) p {
    left: 10px;
}

#abc .contents section:nth-child(even) p {
    right: 10px;
}