// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  @charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 50px 0;
}

.wrap{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  margin-top: 20px;
}

.clearfix:after{
  content:"";
  clear: both;
  display: block;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 50%;
  font-size: 30px;
}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents .tab {
  padding: 30px;
  background: #fff;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}
.form-group {
  margin-left: 115px;
}
.profile-title {
  border-bottom: 6px solid #FFBEDA;
  width: 150px;
  margin: 0px auto 40px auto;
}
.profile-name {
  text-align: center;
  font-size: 30px;
}
.profile-article, .profile-follow, .profile-follower {
  font-size: 40px;
  float: left;
  text-align: center;
  padding-right:30px;
}
.profile-article-name, .follow-name, .follower-name {
  font-size: 30px;
  color: #337ab7;
}
.profile-goal {
  padding-top: 120px;
}
.goal {
  font-size: 20px;
  float: left;
}
.profile-introduction-name {
  padding-top: 40px;
  font-size: 20px;
}
.profile-edit {
  width: 1200px;
}
.profile-favo, .profile-comment {
  float:left;
  padding-right: 10px;
}
.profile-article-title {
  padding-top: 20px;
}
.my-article-img {
  padding-top: 10px;
}